<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Yükleniyor... </p>
</ngx-spinner>

<aside
  class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-{{ userThemeOption.sidenavType }}"
  id="sidenav-main">
  <app-sidenav></app-sidenav>
</aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
  <app-nav></app-nav>
  <!-- End Navbar -->
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">
                {{title}}
              </h6>
              <button *ngIf="operationAdd" type="button" class="btn btn-warning mx-3" data-bs-toggle="modal" data-bs-target="#addCurrencyAccountModal">
                <i class="material-icons opacity-10">person_add</i>
                Cari Ekle
              </button>
              <button *ngIf="operationAdd" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addExcelModal">
                <i class="material-icons opacity-10">attach_file</i>
                Excel'den Cari Liste Yükleme
              </button>
            </div>
          </div>
          <div *ngIf="operationList">
          <div class="card-body">
            <div class="form-group">
              <div class="row">
                <div class="col-md-5">
                  <button type="button" class="btn btn-info" (click)="exportExcel()">
                    <i class="fa fa-file-excel"></i>
                    Cari Listeyi Excel'e Aktar
                  </button>
                </div>
                <div class="col-md-1">
                  <div class="form-check form-switch d-flex align-items-center mb-3">
                    <input class="form-check-input" type="checkbox" id="allList" [(ngModel)]="allList" (change)="getListByCheck('allList')">
                    <label class="form-check-label mb-0 ms-2" for="allList"> Tümü</label>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="form-check form-switch d-flex align-items-center mb-3">
                    <input class="form-check-input" type="checkbox" id="activeList" [(ngModel)]="activeList" (change)="getListByCheck('activeList')" checked>
                    <label class="form-check-label mb-0 ms-2" for="activeList"> Aktif</label>
                  </div>
                </div>
                <div class="col-md-1">
                  <div class="form-check form-switch d-flex align-items-center mb-3">
                    <input class="form-check-input" type="checkbox" id="passiveList" [(ngModel)]="passiveList" (change)="getListByCheck('passiveList')">
                    <label class="form-check-label mb-0 ms-2" for="passiveList"> Pasif</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="input-group input-group-outline my-3" style="width: 50%; margin-left: 50%;">
                    <label class="form-label">Aranacak Kelimeyi Yazın</label>
                    <input type="text" autocomplete="off" [(ngModel)]="searchString" class="form-control">
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table id="excel-table" class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Cari Ad / Cari
                      Kod / Adres</th>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Vergi Dairesi /
                      V.Numarası / T.C.</th>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Mail</th>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Yetkişli Kişi
                    </th>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">Kayıt Tarihi /
                      Durumu</th>
                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-7 ps-2">İşlemler</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let currencyAccount of currencyAccounts | currencyAccountPipe : searchString | currencyAccountFilterPipe : filterText">
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{ currencyAccount.name }}</h6>
                          <p class="text-xs text-secondary mb-0">{{ currencyAccount.code }}</p>
                          <p class="text-xs text-secondary mb-0">{{ currencyAccount.address }}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm"><i class=text-danger>V.Dairesi:</i> {{ currencyAccount.taxDepartment
                            }}</h6>
                          <h6 class="mb-0 text-sm"><i class=text-danger>V.Numarası:</i> {{ currencyAccount.taxIdNumber
                            }}</h6>
                          <h6 class="mb-0 text-sm"><i class=text-danger>T.C.:</i> {{ currencyAccount.identityNumber }}
                          </h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h6 class="mb-0 text-sm">{{ currencyAccount.email }}</h6>
                    </td>
                    <td>
                      <h6 class="mb-0 text-sm">{{ currencyAccount.authorized }}</h6>
                    </td>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm"><i class=text-danger>Kayıt Tarihi:</i> {{ currencyAccount.addedAt |
                            date: 'dd.MM.yyyy' }}</h6>
                          <h6 class="mb-0 text-sm"><i class=text-danger>Durumu:</i> {{ currencyAccount.isActive?
                            "Aktif":"Pasif" }}</h6>
                        </div>
                      </div>
                    </td>
                    <td class="align-middle">
                      <button *ngIf="operationUpdate" type="button" class="btn btn-warning btn-sm mx-2" title="Güncelle" data-bs-toggle="modal" data-bs-target="#updateCurrencyAccountModal" (click)="getCurrencyAccount(currencyAccount.id)">
                        <i class="material-icons opacity-10">edit</i>
                      </button>
                      <button *ngIf="operationUpdate" type="button" (click)="currenctCurrency(currencyAccount)" [swal]="changeStatusSwal" (confirm)="changeStatusCurrencyAccount(currencyAccount)" class="btn btn-info btn-sm mx-2" title="Durumunu Değiştir">
                        <i class="material-icons opacity-10">check_box</i>
                      </button>
                      <button *ngIf="operationDelete" type="button" (click)="currenctCurrency(currencyAccount)" [swal]="deleteSwal" (confirm)="deleteCurrencyAccount(currencyAccount)" class="btn btn-primary btn-sm" title="Sil">
                        <i class="material-icons opacity-10">restore_from_trash</i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</main>


<swal #deleteSwal title="Sil?" text="Cari kaydı silmek istiyor musunuz?" type="question" [showCancelButton]="true" [focusCancel]="true" [swalOptions]="{ confirmButtonText: 'Sil' }"></swal>

<swal #changeStatusSwal title="Durumu Değiştir?" text="Cari kaydın durumunu (Aktif <==> Pasif) değiştirmek istiyor musunuz?" type="question" [showCancelButton]="true" [focusCancel]="true" [swalOptions]="{ confirmButtonText: 'Değiştir' }"></swal>


<!-- Modal -->
<div class="modal fade" id="addCurrencyAccountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Cari Ekleme Formu</h5>
        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addForm">
          <div [class]="changeInputClass(code)">
            <label class="form-label">Cari Kod</label>
            <input type="text" formControlName="code" [(ngModel)]="code" class="form-control">
          </div>
          <div [class]="changeInputClass(name)">
            <label class="form-label">Cari Ad</label>
            <input type="text" formControlName="name" [(ngModel)]="name" class="form-control">
          </div>
          <div [class]="changeInputClass(address)">
            <label class="form-label">Adres</label>
            <input type="text" formControlName="address" [(ngModel)]="address" class="form-control">
          </div>
          <div [class]="changeInputClass(taxDepartment)">
            <label class="form-label">Vergi Daresi</label>
            <input type="text" formControlName="taxDepartment" [(ngModel)]="taxDepartment" class="form-control">
          </div>
          <div [class]="changeInputClass(taxIdNumber)">
            <label class="form-label">Vergi Numarası</label>
            <input type="text" formControlName="taxIdNumber" [(ngModel)]="taxIdNumber" class="form-control">
          </div>
          <div [class]="changeInputClass(identityNumber)">
            <label class="form-label">T.C.</label>
            <input type="text" formControlName="identityNumber" [(ngModel)]="identityNumber" class="form-control">
          </div>
          <div [class]="changeInputClass(email)">
            <label class="form-label">Mail Adresi</label>
            <input type="text" formControlName="email" [(ngModel)]="email" class="form-control">
          </div>
          <div [class]="changeInputClass(authorized)">
            <label class="form-label">Yetkili Kişi</label>
            <input type="text" formControlName="authorized" [(ngModel)]="authorized" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-gradient-primary" (click)="addCurrencyAccount()">Cari Ekle</button>
        <button type="button" class="btn bg-gradient-secondary" id="closeCurrencyAccountModal" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="updateCurrencyAccountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Cari Güncelleme Formu</h5>
        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateForm">

          <div class="input-group input-group-dynamic mb-4">
              <span class="input-group-text" id="basic-addon1">Cari Kod</span>
              <input type="text" formControlName="code" class="form-control" placeholder="Cari Kod">
          </div>

          <div class="input-group input-group-dynamic mb-4">
            <input type="text" class="form-control" formControlName="name" placeholder="Cari Ad">
            <span class="input-group-text"  id="basic-addon2">Cari Ad</span>
          </div>


          <div class="input-group input-group-dynamic mb-4">
            <input type="text" class="form-control" formControlName="address" placeholder="Adres">
            <span class="input-group-text" id="basic-addon2">Adres</span>
          </div>

          <div class="input-group input-group-dynamic mb-4">
            <input type="text" class="form-control" formControlName="taxDepartment" placeholder="Vergi Dairesi">
            <span class="input-group-text" id="basic-addon2">Vergi Dairesi</span>
          </div>

          <div class="input-group input-group-dynamic mb-4">
            <input type="text" class="form-control" formControlName="taxIdNumber" placeholder="Vergi Numarası">
            <span class="input-group-text" id="basic-addon2">Vergi Numarası</span>
          </div>

          <div class="input-group input-group-dynamic mb-4">
            <input type="text" class="form-control" formControlName="identityNumber" placeholder="T.C." aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">T.C.</span>
          </div>

          <div class="input-group input-group-dynamic mb-4">
            <input type="text" class="form-control" formControlName="email" placeholder="Mail Adresi">
            <span class="input-group-text" id="basic-addon2">Mail Adresi</span>
          </div>

          <div class="input-group input-group-dynamic mb-4">
            <input type="text" class="form-control" formControlName="authorized" placeholder="Yetkili Kişi">
            <span class="input-group-text" id="basic-addon2">Yetkili Kişi</span>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-gradient-primary" (click)="updateCurrencyAccount()">Cari Güncelle</button>
        <button type="button" class="btn bg-gradient-secondary" id="closeUpdateCurrencyAccountModal" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addExcelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-normal" id="exampleModalLabel">Excel'den Cari Liste Yükleme</h5>
        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input class="form-control" type="file" (change)="onChange($event)" id="addFromExcelFile">
        <hr>
        <p><a href="/../assets/files/Cariler.xlsx" target="_blank"><i>Örnek Excel Dosyasını İndir</i></a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-gradient-success" (click)="addFormExcelCurrencyAccount()">Yükle</button>
        <button type="button" class="btn bg-gradient-secondary" id="closeAddFromExcelModal" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>
